{
  "extends": ["stylelint-config-standard", "stylelint-prettier/recommended"],
  "rules": {
    "import-notation": null,
    "at-rule-no-unknown": [true, { "ignoreAtRules": ["plugin", "custom-variant", "theme"] }],
    "at-rule-no-deprecated": [true, { "ignoreAtRules": ["apply"] }]
  }
}
